<h1 class="header-message">最新記事一覧</h1>
<ul>
  <% @articles.each do |article| %>
    <%= render partial: '/layouts/collection', locals: {article: article} %>
  <% end %>
</ul>

<%= paginate(@articles) %>

<% if user_signed_in? %>
  <%= link_to new_article_path, method: :get do %>
    <div class="fixed-action-btn">
      <div class="btn-floating btn-large red">
        <i class="material-icons">create</i>
      </div>
    </div>
  <% end %>
<% end %>